<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="currentPassword" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Mật khẩu hiện
            tại <span class="text-red-500">*</span></label>
        <p-password formControlName="currentPassword" id="currentPassword" [toggleMask]="true" [fluid]="true"
            [feedback]="false"></p-password>
        @if (form.get('currentPassword')?.hasError('required') && form.get('currentPassword')?.touched) {
        <p-message severity="error" variant="simple" size="small">{{ getError('currentPassword') }} </p-message>
        }
    </div>
    <div class="mb-3">
        <label for="newPassword" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Mật khẩu mới <span
                class="text-red-500">*</span></label>
        <p-password formControlName="newPassword" id="newPassword" [toggleMask]="true" [fluid]="true"
            [feedback]="false"></p-password>
        @if (form.get('newPassword')?.invalid && form.get('newPassword')?.touched) {
        <p-message severity="error" variant="simple" size="small">{{ getError('newPassword') }} </p-message>
        }
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Xác nhận mật
            khẩu mới <span class="text-red-500">*</span></label>
        <p-password formControlName="confirmPassword" id="confirmPassword" [toggleMask]="true" [fluid]="true"
            [feedback]="false"></p-password>
        @if (form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched) {
        <p-message severity="error" variant="simple" size="small">{{ getError('confirmPassword') }} </p-message>
        } @else if (form.hasError('passwordNotMatch') && form.get('confirmPassword')?.touched) {
        <p-message severity="error" variant="simple" size="small">Mật khẩu xác nhận không khớp</p-message>
        }
    </div>
    <div class="mt-5 flex flex-row justify-end">
        <p-button label="Lưu" icon="pi pi-save" type="submit" [loading]="loading" />
    </div>
</form>
